* {
  margin: 0;
  padding: 0;
}

.mainHeading {
  width: 100%;
  background: linear-gradient(#141e30, #243b55);
  color: #cbce91ff;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0);
  font-size: 3vw;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0px;
  padding-bottom: 5px;
  position: fixed;
  z-index: 100;
  cursor: pointer;
}

.styling {
  min-height: 100vh;
  background: linear-gradient(#232526, #414345);
  color: #fff;
  padding: 120px 0px;
}

.box{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
}

.card{
  cursor: pointer
}

.page{
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tab{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width : 500px){
  .mainHeading{
    font-size: 10vw;
  }
}